/*About Me Page*/

@font-face {                      
font-family: 'CHNOPixel';
src: url(./assets/Fonts/CHNOPixelCodePro-Regular.woff) format('woff2');
font-weight: normal;
font-style: normal;
} 

@font-face {                      
font-family: 'Canarina';
src: url(./assets/Fonts/Canarina.woff2) format('woff2');
font-weight: normal;
font-style: normal;
}

.root {
    font-size: 18px;
}

* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #c7fec9;
}

body {
    color: whitesmoke;
}

h1 {
    font-family: 'CHNOPixel', sans-serif;
    font-size: 2.75rem;
    line-height: 1;
    color: white;
}

h2 {
    font-family: 'CHNOPixel', sans-serif;
    font-size: 2.3rem;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

h3{
    font-family: 'CHNOPixel', sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Canarina', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    color: rgb(255, 255, 255);
}

a[href^='http'] {
    text-decoration-style: solid;
}

a:visited, a {
    color: #c7fec9;
}

.AboutMeBody {
    background: url(assets/Crib/bg3.png);
    color: white;
    padding-bottom: 50px;
}

.AboutMeHeader .main-heading {
    text-align: center;
    padding: 26px;
    padding-bottom: 3px;
}

.main-infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.infobox {
    background-image: url(assets/Crib/Grass.JPG); width: 80vw; 
    max-width: 900px; 
    border: 26px solid transparent;
    padding: 15px;
    border-image: url(assets/Crib/borderlily.png) 26 round;
    margin: 5px;
    padding: 30px;
    padding-top: 16px;
}

.infobox .Me {
    margin-bottom: 15px;
    margin-top: 20px;
}

.infobox h2 {
    margin-bottom: 15px;
}

.infobox2 {
    background-image: url(assets/Crib/Grass.JPG); width: 80vw; 
    max-width: 900px; 
    border: 26px solid transparent;
    padding: 15px;
    border-image: url(assets/Crib/borderlily.png) 26 round;
    margin: 5px;
    padding: 30px;
    padding-top: 16px;

}

.infobox2 h2 {
    padding: 15px;
    padding-bottom: 20px;
}

.infoboxlinks a:hover a:focus {
    color: inherit;
}

.infoboxlinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.infoboxlinks a {
    padding: 15px;
    background-image: url(/assets/Crib/bg3.png);
}

.infoboxlinks h2, p {
    text-align: center;
}

a.border {
    border: 15px solid transparent;
    padding: 15px;
    border-image: url(assets/Crib/borderlily.png) 26 round;
    margin: 5px;
    width: 235px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px 5px 20px;
}

a.border:hover {
    background: #c7fec959;
}
