@font-face {                  
font-family: 'CHNOPixel';
src: url(./assets/Fonts/CHNOPixelCodePro-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
}  

@font-face {                  
font-family: 'Canarina';
src: url(./assets/Fonts/Canarina.woff2) format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {                  
font-family: 'Faune-Italic';
src: url(./assets/Fonts/Faune-Italic.woff) format('woff');
font-weight: normal;
}

@font-face {                  
font-family: 'Glacier';
src: url(./assets/Fonts/Glacier-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.root {
    font-size: 18px;
}

* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #c7fec9;
}

.CribsBody {
    background: url(assets/Crib/bg3.png);
    font-family: 'CHNOPixel', sans-serif;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

h1 {
    font-size: 2.75rem;
    line-height: 1;
    color: white;
}

h2 {
    font-size: 2.3rem;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    font-family: 'Glacier', sans-serif;
}

h3{
    font-size: 1.25rem;
    line-height: 1;
    color: white;
}

p {
    font-family: 'Canarina', sans-serif;
    font-size: 2rem;
    line-height: 1;
    color: white;
}